
[profile.default]
solc = "0.8.24"
src = 'contracts'
out = 'out'
libs = ['lib', 'node_modules', '../../node_modules']
test = 'test'
script = 'scripts'
cache_path = 'cache_forge'
# for EIP-7702, use evm_version = "prague"
remappings = [
  "@openzeppelin/contracts-upgradeable/=../../node_modules/@openzeppelin/contracts-upgradeable/"
]

[lint]
# Disabled because solar linter doesn't handle @openzeppelin/contracts-upgradeable imports correctly
lint_on_build = false

[rpc_endpoints]
sepolia = "${HTTPS_PROVIDER_URL_SEPOLIA}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}", url = "https://api-sepolia.etherscan.io/api" }

#sepolia = { key = "${ETHERSCAN_API_KEY}" } # WARNING: this causes forge to make additional calls to etherscan which fail when testing locally

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
