name: Test Contracts

on:
  push:
    branches:
      - '**'  # Run on all branches

jobs:
  tests:
    name: Contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 9.12.3

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
          cache: "pnpm"

      - name: Cache Turborepo
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - run: pnpm install --frozen-lockfile

      - name: Lint contracts
        run: pnpm --filter contracts lint

      - name: Test contracts
        run: pnpm --filter contracts test
      #   env:
      #     JSON_RPC_PROVIDER: ${{ secrets.JSON_RPC_PROVIDER }}
